* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", serif;
    font-weight: 700;
}

h1 {
    font-family: "PT Sans", serif;
    font-weight: 100;
}

h2 {
    font-family: "PT Sans", serif;
    font-weight: 100;
}