:root {
    --heading-background-color: #DC8708;
    --secondary-color: #1E7FC1; 
    --accent1-color: #6BCAF6;
    --accent2-color: #1F2960;
    --font-family: "PT Sans", serif;
    --font-weight: 400;
    --font-style: normal;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--accent2-color);
    font-family: var(--font-family);
 }     

nav a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
      
    


