:root {
    --heading-background-color: #DC8708;
    --secondary-color: #1E7FC1; 
    --accent1-color: #6BCAF6;
    --accent2-color: #1F2960;
    --font-family: "PT Sans", serif;
    --font-weight: 400;
    --font-style: normal;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

nav a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    height:auto;
    background: url("../wwr/images/raftingbanner.jpg") no-repeat center center/cover;    
}

.hero img {
    display: none;
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--accent2-color);
    font-family: var(--font-family);
 }     

div h1 {
    position: relative;
    top: 40px;
    right: 60px;
}
      
    


