* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    nav {
    background-color: rgb(132, 155, 42);
    padding: 10px;
}
nav a {
    color:white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 3px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 16px;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
    padding: 1rem;
    background-color: #c19e3c;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 140px;
    height: auto;
    margin: 6px;
}
p {padding: 10;}
    
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: right;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #e3dcbd;
    color: #000;
}
aside {
    width: 25em;
    text-align: right;
}
main img {
    float: right;
}
aside h2 {
    position: relative;
    top: 40px;
    right: 60px;
}