.callout {
    box-sizing: border-box;
    width: 400px;
    margin: 10px;
    border: 1px solid #000000;
    padding: 15px;
    background-color: blue;
    color:blueviolet
}

.callout img {
	
}

blockquote {
	
}

cite {
	
}